<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">

	<sitecore>

		<pipelines>

			<initialize>

				<processor
				  type="GileadCommercialDS.Feature.Podcast.Pipelines.RegisterPodcastRoute, GileadCommercialDS.Feature.Podcast"/>

			</initialize>

		</pipelines>

	</sitecore>

</configuration>